#Wrapper {
/* min-width: 600px;*/
 background-color: #eee;
display: grid;
grid-template-columns: auto auto auto;
    text-align: center;
    font-size: 95px;
    
}
#Wrapper > div:nth-child(even) {
    background-color: black;
    color: white;
}
@media screen and (max-width:500px) {
    #Wrapper {
        display: grid;
        grid-template-columns: 100%;
    }
    #Wrapper > div {
        width: 100%;
    }
}