body {
	font-family: calibri,constantia,Arial,consolas,sans-serif;
	background-color: black;
	color: white;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}
header {
	background-color: red;
	padding: 10px;
}
hgroup {
	line-height: 10px;
}
h1{
	text-align: center;
	font-size: 1.2em;
}
hgroup h1 {
	text-align: left;
	font-size :2.0em;
}
h2{
	font-size: 1.2em;
}
section {
	background-color: black;
	color: white;
	border-style: solid;
	border-color:red;
	border-width: 5px;
	padding: 5px;
}
footer {
	background-color: red;
	color: white;
	padding: 10px;
	text-align: center;
}