/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#Login {
	-fx-text-fill: black;
	-fx-background-color:#f5f5f5;
	-fx-border-color:#c0c0c0;
}
#Label {
	-fx-text-fill:black;
	-fx-background-color:#f5f5f5;
	-fx-border-color:#c0c0c0;
	-fx-padding:4px;
}
#Password {
	-fx-text-fill:black;
	-fx-background-color:#f5f5f5;
	-fx-border-color:#c0c0c0;
}
.root{
	-fx-background-color:black;
}