/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
	-fx-background-color:#d3d3d3;
}
.button {
	-fx-border-radius:2px;
	-fx-text-fill:black;
	-fx-background-color: #696969;
	
}