
.header{
	background-image: url("http://www.tokkoro.com/picsup/2874605-iron-man-marvel-comics-movies___movie-wallpapers.jpg");
	background-position: center;
	background-repeat: none;
	height: 100%;
	width: 100%
	color:#B6FF00;
	color:#F70737;

	
}